{% load static %} {% load mathfilters %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'img/icon.png' %} "
    />

    <link
      href="https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{% static 'css/currency.css' %} " />
    <title>Bankist | Currency</title>
  </head>
  <body>
    <!-- TOP NAVIGATION -->
    <nav>{% include "users/navbar.html" %}</nav>
    <div class="background-container">
      <div class="operations">
        <div class="operations__tab-container">
          <button
            class="btn operations__tab operations__tab--1 operations__tab--active"
            data-tab="1"
          >
            Quote
          </button>
          <button class="btn operations__tab operations__tab--2" data-tab="2">
            Buy
          </button>
          <button class="btn operations__tab operations__tab--3" data-tab="3">
            Sell
          </button>
          <button class="btn operations__tab operations__tab--4" data-tab="4">
            History
          </button>
          <button class="btn operations__tab operations__tab--5" data-tab="5">
            Currency Own
          </button>
        </div>
        <!--Quote: render form for user to quote for currency-->
        <div
          class="operations__content operations__content--1 operations__content--active"
        >
          <div class="operations__icon operations__icon--1"></div>
          <form>
            {% csrf_token %}
            <p class="note">
              Note: Please enter the currency code that you want to query.
            </p>
            <label class="form__label">From</label>
            <input type="text" class="form__input" name="from_currency" />
            <label class="form__label">To</label>
            <input type="text" class="form__input" name="to_currency" />
            <label class="form__label">Amount</label>
            <input type="number" class="form__input" name="Amount" />
            <button class="form__btn form__btn--loan" type="submit">→</button>
          </form>
        </div>

        <!--Buy: render form for user to buy currency-->
        <div class="operations__content operations__content--2">
          <div class="operations__icon operations__icon--2"></div>
          <form>
            {% csrf_token %}
            <p class="note">
              Note: Please enter the currency code that you want to buy.
            </p>
            <label class="form__label">Currency Code</label>
            <input type="text" class="form__input" name="from_currency" />
            <label class="form__label">Amount</label>
            <input type="number" class="form__input" name="Amount" />
            <button class="form__btn form__btn--loan" type="submit">Buy</button>
          </form>
        </div>

        <!--Sell: allow user sell currency-->
        <div class="operations__content operations__content--3">
          <div class="operations__icon operations__icon--3"></div>
          <form>
            {% csrf_token %}
            <p class="note">
              Note: Please enter the currency code that you want to sell.
            </p>
            <label class="form__label">Currency Code</label>
            <input type="text" class="form__input" name="currency" />
            <label class="form__label">Amount</label>
            <input type="number" class="form__input" name="Amount" />
            <button class="form__btn" type="submit">Sell</button>
          </form>
        </div>

        <!--Load dynamic data-->
        <!-- History: allow user view currency bought/sold-->
        <div class="operations__content operations__content--4">
          <div class="operations__icon operations__icon--4"></div>
        </div>

        <!-- Currency own: allow user view currency on hand-->
        <div class="operations__content operations__content--5">
          <div class="operations__icon operations__icon--5"></div>
        </div>
      </div>
    </div>
  
  </body>
</html>
