{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'img/icon.png' %}"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/styles.css' %} " />
    <title>Bankist | Login</title>

    <script defer src="{% static 'css/styles.css' %}"></script>
  </head>
  <body>
    <div class="modal">
      <button class="btn--close-modal">×</button>
      <h2 class="modal__header">Login Account</h2>
      <form class="modal__form">
        <label>Username</label>
        <input type="text" />
        <label>Password</label>
        <input type="password" />
        <button class="btn">Login →</button>
      </form>
    </div>
  </body>
</html>
