{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'img/icon.png' %}"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/styles.css' %} " />
    <link rel="stylesheet" href="{% static 'css/messages.css' %} " />
    <title>Bankist | Register</title>

    <script defer src="{% static 'css/styles.css' %}"></script>
  </head>
  <body>
    <div class="modal">
      <h2 class="modal__header">
        Open your bank account <br />
        in just <span class="highlight">5 minutes</span>
      </h2>
      <!-- To-Do: Style the messages and help text-->
      {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}

      <form method="POST" action="{% url 'register' %}" class="modal__form">
        {% csrf_token %} 
        {% for field in form %}
        <label>{{ field.label }}</label>
        {{ field }} 

        {% comment %} {% if field.help_text %}
          <small>{{ field.help_text }}</small>
        {% endif %}  {% endcomment %}
        {% endfor %}

        <button class="btn" type="submit">Create Account →</button>
      </form>
      <div>
      <div class="login_text">Already have an account?</div>
      <a class="login_link" href="{% url 'login' %}">Log in</a>
      </div>
    </div>
  </body>
</html>
