{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'img/icon.png' %} "
    />

    <link
      href="https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{% static 'css/bank.css' %} " />
    <title>Bank</title>
  </head>
  <body>
    <!-- TOP NAVIGATION -->
    <nav>
      <img src="{% static 'img/logo-small.png' %}" alt="Logo" class="logo" />
      <!-- Change the url path to user profile page -->
      <a href="{% url '' %}" class="back__btn nav__link">← Back</a>
      <a href="{% url 'logout' %}" class="logout__btn nav__link">Log Out</a>
    </nav>

    <!-- Make the data dynamic -->
    <main class="app">
      <!-- BALANCE -->
      <div class="balance">
        <div>
          <p class="balance__label">Current balance</p>
          <p class="balance__date">
            As of <span class="date">05/03/2023</span>
          </p>
        </div>
        <p class="balance__value">NT${{ balance }}</p>
      </div>

      <!-- MOVEMENTS -->
      <!-- add data dynamicly using Transactions table-->
      <div class="movements">
        <div class="movements__row">
          <div class="movements__type movements__type--deposit">2 deposit</div>
          <div class="movements__date">3 days ago</div>
          <div class="movements__value">NT$4000</div>
        </div>
        <div class="movements__row">
          <div class="movements__type movements__type--withdrawal">
            1 withdrawal
          </div>
          <div class="movements__date">24/01/2023</div>
          <div class="movements__value">-NT$378</div>
        </div>
      </div>

      <!-- SUMMARY -->
      <div class="summary">
        <p class="summary__label">In</p>
        <p class="summary__value summary__value--in">NT$0000</p>
        <p class="summary__label">Out</p>
        <p class="summary__value summary__value--out">NT$0000</p>
        <p class="summary__label">Interest</p>
        <p class="summary__value summary__value--interest">NT$0000</p>
        <button class="btn--sort">↓ SORT</button>
      </div>

      <!-- OPERATION: WITHDRAWAL -->
      <div class="operation operation--withdrawal">
        <h2>Withdrawal</h2>
        <form
          class="form form--withdrawal"
          method="POST"
          action="{% url 'withdrawal' %}"
        >
          {% csrf_token %}
          <input
            type="number"
            class="form__input form__input--withdrawal"
            name="withdrawal"
          />
          <button class="form__btn form__btn--withdrawal" type="submit">
            →
          </button>
          <label class="form__label form__label--withdrawal">Amount</label>
        </form>
      </div>

      <!-- OPERATION: LOAN -->
      <div class="operation operation--loan">
        <h2>Request loan</h2>
        <form class="form form--loan" method="POST" action="{% url 'loan' %}">
          {% csrf_token %}
          <input
            type="number"
            class="form__input form__input--loan-amount"
            name="loan"
          />
          <button class="form__btn form__btn--loan" type="submit">→</button>
          <label class="form__label form__label--loan">Amount</label>
        </form>
      </div>

      <!-- OPERATION: DEPOSITS -->
      <div class="operation operation--deposit">
        <h2>Deposit</h2>
        <form
          class="form form--deposit"
          method="POST"
          action="{% url 'deposit' %}"
        >
          {% csrf_token %}
          <input
            type="number"
            class="form__input form__input--deposit"
            name="deposit"
          />
          <button class="form__btn form__btn--deposit" type="submit">→</button>
          <label class="form__label form__label--deposit">Amount</label>
        </form>
      </div>

      <!-- OPERATION: TRANSFERS -->
      {% comment %}
      <div class="operation operation--transfer">
        <h2>Transfer</h2>
        <form class="form form--transfer">
          <input type="text" class="form__input form__input--to" />
          <input type="number" class="form__input form__input--amount" />
          <button class="form__btn form__btn--transfer">→</button>
          <label class="form__label">Transfer to</label>
          <label class="form__label">Amount</label>
        </form>
      </div>
      {% endcomment %}

      <!-- LOGOUT TIMER -->
      <!--<p class="logout-timer">
        You will be logged out in <span class="timer">05:00</span>
      </p>-->
    </main>

    <script src="{% static 'js/bank.js' %} "></script>
  </body>
</html>
